@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 999999999999999;
}

.App-header {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 3rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h2 span {
  font-weight: 500;
  font-style: italic;
  color: #1cbaeb;
}

button {
  border: none;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  font-weight: 200;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin: 10px;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

input {
  /* remove all styles */
  border: 2px #ccc solid;
  padding: 0.7em 1em;
  font-size: 18px;
  font-weight: 200;
  border-radius: 0.5em;
  background: #e8e8e8;
  transition: all 0.3s;
  box-shadow: none;
  margin: 10px;
  color: rgb(58, 58, 58);
  min-width: 275px;
  cursor: pointer;
}

input:hover {
  border: 2px #e7e7e7 solid;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

label {
  font-size: 14px;
  font-weight: 300;
  margin: 0 10px;
}

.Connected {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.network {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: large;
  font-weight: 500;
  border: #ccc solid 2px;
  width: clamp(550px, 75vw, 950px);
  min-width: 450px;
  border-radius: 10px;
  margin: 10px 0;
  height: 30px;
}

.address {
  user-select: none;
  text-align: center;
}

.copy {
  font-size: small;
  color: rgb(58, 58, 58);
}

select {
  font-size: 1rem;
  font-weight: 200;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:active,
select:focus {
  outline: none;
  box-shadow: none;
}

.dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.dropdown:after {
  content: ' ';
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
}

.nft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: clamp(600px, 80vw, 1050px);
  margin: 10px 0;
  gap: clamp(10px, 2.5vw, 25px);
}

img {
  width: 100%;
  height: auto;
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  background: linear-gradient(
    rgba(194, 194, 194, 0.5),
    rgba(116, 116, 116, 0.5)
  );
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0;
  padding: 0 5%;
  gap: 0;
}

.headers p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

h5 {
  color: #777;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

.nav {
  position: absolute;
  top: 0;
  left: auto;
  width: clamp(600px, 83.33vw, 1100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  margin: 0;
}

.nft-card {
  padding: 10px;
  border-radius: 20px;
  box-shadow: none;
  transition-duration: 300ms;
}

.nft-card:hover {
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.nft-card-selected {
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin: 0 0 30px 0;
}

.nft-select {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: clamp(300px, 50vw, 600px);
  margin: 0 0 0 25px;
  padding: 0;
  gap: 25px;
}

.options > * {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  border: #ccc solid 2px;
  border-radius: 10px;
  padding: 10px;
}

.form > div {
  width: 100%;
}

.form input {
  width: calc(100% - 250px);
}
